<div *ngIf="isLoading">
  <app-loader></app-loader>
</div>
<div *ngIf="!isLoading">
  <mat-card class="project-card">
    <mat-card-header>
      <mat-card-title>{{ project.name }}</mat-card-title>
      <mat-card-subtitle>{{ project.about }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p *ngIf="!!projectTemplate" [routerLink]=""><b>Шаблон: </b> {{ projectTemplate.name }} ({{ projectTemplate.description }})</p>
    </mat-card-content>
  </mat-card>

  <mat-card class="project-card" *ngIf="!!project.templateId">
    <mat-card-header>
      <mat-card-title>Роли</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <ul *ngIf="project.party.length">
        <li *ngFor="let role of project.party">
          {{ role }}
        </li>
      </ul>
      <p *ngIf="!project.party.length">Роли для этого проекта не заданы</p>
    </mat-card-content>
  </mat-card>

  <!--<div class="form-actions">-->
    <!--<button mat-raised-button (click)="createProject()">Создать проект из этого шаблона</button>-->
  <!--</div>-->
</div>
