<h1>Создание нового проекта</h1>
<form [formGroup]="projectForm">

  <mat-grid-list cols="4">
    <mat-grid-tile
      class="grid-tile"
      colspan="2"
      rowspan="1">
      <div class="grid-container">
        <span class="sub-header">Информация о проекте</span>
        <div class="form-control">
          <mat-form-field>
            <input matInput placeholder="Название проекта" formControlName="name" required>
          </mat-form-field>
        </div>
        <div class="form-control">
          <mat-form-field>
            <input matInput placeholder="Описание" formControlName="description" required>
          </mat-form-field>
        </div>
        <div class="form-control">
          <mat-form-field>
            <input matInput placeholder="Об авторе" formControlName="author">
          </mat-form-field>
        </div>
      </div>
    </mat-grid-tile>
    <mat-grid-tile
      class="grid-tile"
      colspan="2"
      rowspan="1">
      <div class="grid-container">
        <app-video-selector></app-video-selector>
      </div>
    </mat-grid-tile>
    <mat-grid-tile
      class="grid-tile"
      colspan="2"
      rowspan="1">
      <div class="grid-container">
        <span class="sub-header">Информация о проекте</span>
        <div class="form-control">
          <mat-form-field>
            <input matInput placeholder="Название проекта" formControlName="name" required>
          </mat-form-field>
        </div>
        <div class="form-control">
          <mat-form-field>
            <input matInput placeholder="Описание" formControlName="description" required>
          </mat-form-field>
        </div>
        <div class="form-control">
          <mat-form-field>
            <input matInput placeholder="Об авторе" formControlName="author">
          </mat-form-field>
        </div>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
  <div class="form-control">
    <mat-form-field>
      <input matInput placeholder="Address" formControlName="additional" required>
    </mat-form-field>
  </div>
</form>
