<div *ngIf="isLoading">
  <app-loader></app-loader>
</div>
<div *ngIf="!isLoading">
  <mat-card class="project-card">
    <mat-card-header>
      <mat-card-title><h1>Рекомендации</h1></mat-card-title>
      <mat-card-subtitle>Вакансии, которые вам подходят</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <span *ngIf="!projects.length">Рекомендаций для вас пока нет :(</span>
      <table mat-table [dataSource]="projects" class="table" *ngIf="projects.length">
        <ng-container matColumnDef="role">
          <th mat-header-cell *matHeaderCellDef>Роль</th>
          <td mat-cell *matCellDef="let element">{{element.party[0].role.name}}</td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="project">
          <th mat-header-cell *matHeaderCellDef>Проект</th>
          <td mat-cell *matCellDef="let element">{{element.name}}</td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let element">
            <button mat-raised-button (click)="join(element.id, element.party[0].role.id)">Откликнуться</button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" [routerLink]="['/project', row.id]"></tr>
      </table>
    </mat-card-content>
  </mat-card>
</div>
