.form-control mat-form-field {
  width: 100%;
}

#grid {
  padding: 30px;
}

.grid-tile {
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, .2), 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12);
}

.grid-container {
  padding: 30px;
  width: 100%;
}

.sub-header {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
}

.grid-container button {
  color: rgb(255, 255, 255);
  padding: 5px 10px;
  text-transform: uppercase;
}

.form-actions {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: right;
}

.form-actions button {
  background-color: #3f51b5;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
}
