<mat-toolbar class="app-navbar">
  <button mat-raised-button class="header" [routerLink]="['/']">
    {{ title.toUpperCase() }}
  </button>
  <button mat-button [matMenuTriggerFor]="projectMenu">Проекты</button>
  <mat-menu #projectMenu="matMenu">
    <button mat-menu-item [routerLink]="['project']">Список</button>
    <button mat-menu-item [routerLink]="['project', 'new']">Создать новый проект</button>
  </mat-menu>
  <button mat-button [matMenuTriggerFor]="templateMenu">Шаблоны</button>
  <mat-menu #templateMenu="matMenu">
    <button mat-menu-item [routerLink]="['template']">Список</button>
    <button mat-menu-item [routerLink]="['template', 'new']">Создать новый шаблон</button>
  </mat-menu>
  <button mat-button [matMenuTriggerFor]="userMenu">Пользователи</button>
  <mat-menu #userMenu="matMenu">
    <button mat-menu-item [routerLink]="['user']">Список</button>
  </mat-menu>
</mat-toolbar>

